/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* Auto smooth */

html {
    scroll-behavior: smooth;
}

/* Custom Hover Effect */

.smooth-hover {
    position: relative;
}
.smooth-hover::after {
    position: absolute;
    content: '';
    background-color: #e0e0e0;
    height: 2px;
    width: 100%;
    left: 0;
    top: 110%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s;
}
.smooth-hover:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* Boutons */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-weight: 500;
    cursor: pointer;
    outline: 3px solid #e0e0e0;
    text-decoration: none;
}
.btn-full {
    background-color: #e0e0e0;
    color: #000;
    transition: background-color .1s;
}
.btn-full:hover {
    background-color: transparent;
    color: #e0e0e0
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    border: none;
    border-radius: 0;
    background-color: #111;
    color: #e0e0e0;
    line-height: 0;
    gap: 18px;
    cursor: pointer;
}

button:hover i {
    transform: translateX(5px);
}
button i {
    line-height: 0;
    transition: transform .2s;
}


@media (hover: hover) {
    #cursor {
        position: fixed;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid #000;
        z-index: 10;
        user-select: none;
        pointer-events: none;
        filter: invert(1);
        mix-blend-mode: difference;
    }
}